.header{
  width: 100%;
  min-height: 200%;
  background: linear-gradient(135deg,#e31937,#d41a2d);
  padding: 2rem;
  text-align: center;
  color: white;
  letter-spacing: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app{
  width: 100%;
  min-height: 100vh;
}
.pokemon-card{
  background: #222;
  border-radius: 16px;
  padding: 1rem;
  text-align:center;
  width: 160px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}
.pokemon-card img{
  width: 120px;
  height: 120px;
  object-fit: contain;
}
.pokemon-card h3{
  margin-top: 0.5 rem;
  text-transform: capitalize;
}
.content{
  padding:2rem;
  max-width: 1100px;
  margin:0 auto;
}
.pokemon-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(160px,1fr));
  gap:1.5rem;
  justify-items: center;
}
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #222;
  padding: 2rem;
  border-radius: 16px;
  text-align: center;
  color: white;
  min-width: 280px;
}

.modal img {
  width: 150px;
  height: 150px;
}

.modal button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
